{% extends 'empty.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block place %}
    <div class="container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <h1>Please sign in</h1>
            <input type="email" value="{{ last_username }}" name="_username" placeholder="Email" id="username" class="form-control" autocomplete="email" required autofocus>
            <input type="password" name="_password" placeholder="password" id="password" class="form-control" autocomplete="current-password" required>
            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >
            <input type="submit" value="Connexion">
            <br>
            <a href="#">Mot de passe oublié</a>
        </form>
        <div class="drop drop-1"></div>
        <div class="drop drop-2"></div>
        <div class="drop drop-3"></div>
        <div class="drop drop-4"></div>
        <div class="drop drop-5"></div>
    </div>
{% endblock %}
