<article class="blog-post">
    <div class="blog-post-thumb">
        <a href="{{ path('app_post_show', {'id': post.id, 'slug': post.slug}) }}">
            <img class="prespost" src="{{ asset('uploads/imagesclient/' ~ post.imageFilename) }}" alt="{{ post.title }}">
        </a>
    </div>
    <div class="blog-post-content" style="flex: 1; padding-left: 20px;">
        <div class="blog-post-title">
            <a href="{{ path('app_post_show', {'id': post.id, 'slug': post.slug}) }}">{{ post.title }}</a>
        </div>
        <div class="blog-post-tag">
            <a href="category.html">{{ post.category }}</a>
        </div>
        {% if is_granted('ROLE_ADMIN') or (app.user and post.users and app.user.id == post.users.id) %}
            <a href="{{ path('app_post_create_or_edit', {'id': post.id}) }}"
               class="btn-modifier-post">
                <i class="fa fa-edit"></i> Modifier
            </a>
        {% endif %}
        <form method="post"
          action="{{ path('app_post_delete', {'id': post.id}) }}"
          style="display:inline"
          onsubmit="return confirm('Voulez-vous vraiment supprimer ce post ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ post.id) }}">
            <button class="btn-supprimer-post" type="submit">
                <i class="fa fa-trash"></i> Supprimer
            </button>
        </form>
        <div class="blog-post-meta">
            <ul>
                <li>By <a href="about.html">
                    {% if post.users is not empty %}
                        {{ post.users.username }}
                    {% else %}
                        {{ 'unknown' }}
                    {% endif %}
                </a></li>
                <li>
                    <i class="fa fa-clock-o"></i>
                    {{ post.createdAt|date('F j, Y') }} - 2 min
                </li>
            </ul>
        </div>
        <a href="{{ path('app_post_show', {'id': post.id, 'slug': post.slug}) }}" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
    </div>
</article>