<article class="blog-post">
    <div class="blog-post-thumb">
        <a href="{{ post.link }}">
    </div>
    <div class="blog-post-content">
        <div class="blog-post-tag">
            <a href="category.html">{{ post.category }}</a>
        </div>
        <div class="blog-post-title">
            <a href="{{ post.link }}">{{ post.title }}</a>
        </div>
        <div class="blog-post-meta">
            <ul>
                <li>By <a href="about.html">{{ post.author }}</a></li>
                <li>
                </li>
            </ul>
        </div>
        <a href="{{ post.link }}" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
    </div>
</article>
