<article class="blog-post">
    <div class="blog-post-thumb">
        <a href="{{ post.link }}">
            <img src="{{ asset('path/to/your/image.jpg') }}" alt="{{ post.title }}">
        </a>
    </div>
    <div class="blog-post-content">
        <div class="blog-post-tag">
            <a href="category.html">{{ post.category }}</a>
        </div>
        <div class="blog-post-title">
            <a href="{{ post.link }}">{{ post.title }}</a>
        </div>
        <div class="blog-post-meta">
            <ul>
                <li>By <a href="about.html">{{ post.users.username }}</a></li> <!-- Display the username -->
                <li>
                    <i class="fa fa-clock-o"></i>
                    {{ post.createdAt|date('F j, Y') }} - 2 min <!-- Display the date -->
                </li>
            </ul>
        </div>
        <a href="{{ post.link }}" class="blog-post-action">read more <i class="fa fa-angle-right"></i></a>
    </div>
</article>
