{% extends 'base.html.twig' %}

{% block title %}{{ isEditMode ? 'Modifier le post' : 'Créer un post' }}{% endblock %}

{% block content %}
    <h1>{{ isEditMode ? 'Modifier le post' : 'Créer un post' }}</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.imageFile) }}
        <button type="submit">{{ isEditMode ? 'Enregistrer les modifications' : 'Créer le post' }}</button>
    {{ form_end(form) }}
{% endblock %}
