{% extends 'createbase.html.twig' %}

{% block title %}{{ is_editing ? 'Edit Post' : 'Create Post' }}{% endblock %}

{% block content %}
    <h1>{{ is_editing ? 'Edit Post' : 'Create a New Post' }}</h1>

    {{ form_start(form, { 'attr': {'enctype': 'multipart/form-data'} }) }}
        {{ form_widget(form) }}
        <button type="submit">{{ is_editing ? 'Update Post' : 'Create Post' }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_home') }}">Back to Home</a>

    {% if form.vars.errors|length > 0 %}
        <div class="alert alert-danger">
            <ul>
                {% for error in form.vars.errors %}
                    <li>{{ error.message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endblock %}
