{% extends 'base.html.twig' %}

{% block title %}Modifier le post{% endblock %}

{% block content %}
    <h1>Modifier le post</h1>
    
    {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        {{ form_row(form.imageFile) }}
        <button type="submit">Enregistrer les modifications</button>
    {{ form_end(form) }}
{% endblock %}
